@import url("navigatie.css");
*{
  font-family: "Open sans";
}

h1{
	font-family: "League Spartan";
	color: #FFD55D;
}

h2{
	color: black;
}

h3{
	font-size: 18px;
}
.flex{
	display: flex;
}

.column{
	width: 50%;
}

.column2{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.center{
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
}

.image{
	margin-right: auto;
	margin-left: auto;
}

.image1{
	margin-right: auto;
	margin-left: auto;
	padding: 40px;
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

.info{
	width: 25%;
	margin: 20px;
}

.lezen{
	display: flex;
	justify-content: flex-end;
	text-decoration: none;
	color: black;
	background-color: #FFD55D;
	display: block;
	border-radius: 5px;
	width: 175px;
	text-align: center;
	margin-left: auto;
	margin-bottom: 20px;
}

.title{
	display: flex;
	justify-content: center;
}

.projecten{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.text{
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
}

.header{
	width: 100%;
}

.icon{
	width: 30px;
	height: 30px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.me_{
	width: 50%;
	height: 70%;
}

.paragraph{
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.wrap{
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
}

.lockscreen{
	width: 70%;
}

.campagne{
	width: 30%;
}

.campaign{
	display: flex;
	flex-direction: row;
}

.color{
	background-color: #BBFFFF;
	color: black;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	border-radius: 30px;
}

.image-container{
	display: flex;
    align-items: center;
    justify-content: center;
}

.exeption{
	color: black;
}

.shadowhunters{
	margin-left: 70px;
}

address{
	margin-top: 5px;
}

footer{
	background-color: #FFD55D;
	color: black;
	margin-top: 150px;
	margin-bottom: 0px;
	height: 100px;
}

.copyright{
	display: flex;
	justify-content: center;
}

.project{
	width: 80%;
}


.portfolio{
	height: 100%;
	background-color: #FCE4EC;
	border-radius: 20px;
}

.other{
	height: 100%;
	background-color: #E3F2FD;
	border-radius: 20px;
}


.others{
	height: 100%;
	background-color: #EFEBE9;
	border-radius: 20px;
}

.design{
	margin-left: 35px;
}

.image_{
	width: 80%;
}

button{
	background-color: #FFD55D;
	border: none;
	font-size: 15px;
	margin-top: 200px;
}

.imperium{
	margin-left: auto;
	margin-right: auto;
}

.extra{
	background-color: #BBFFFF;
	width: 1000px;
	margin: auto;
	border-radius: 30px;
}

.extras{
	width: 1000px;
	margin: auto;
}

@media screen and (max-width: 992px) {
 
}